.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px; 
    text-align: center;
}

.popup-message {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

.popup-close-button {
    background-color: #1dbf53;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
    margin-top: 10px; 
}
